/*------common design ----------------*/
body{
    font-family: 'EB Garamond', serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto Slab', serif;
}
h1{
    font-size: 50px;
}
header main{
    display: grid;
    align-items: center;
}
/*---------header design--------------*/
.root-top{
    display: flex;
    justify-content: center;
}
.root-sector{
    width: 1021px;
    height: 550px;
    background-color: blueviolet;
    border-radius: 10px;
    color: white;
    padding: 60px;width: 1021px;
    height: 550px;
    background-color: blueviolet;
    border-radius: 10px;
    color: white;
    padding: 60px;
    display: flex;
}
.root-font{
    width: 531px;
    height: 424px;
}
.root-image{
    width: 581px;
    height: 610px;
    margin-left: 5px;
}
.root-buttom{
    background-color: red;
    padding: 15px;
    color: white;
}
/*-------------med sector----------*/
main{
    display: grid;
    justify-content: center;
    width: 1021px;
    height: 550px;
}
.anouther-count{
    display: flex;
    margin-top: 100px;
} 
.mini-container{
    width: 312px;
    height: 312px;
    background-color: blueviolet;
    margin-right: 15px;
    padding: 10px;
}
.button-unit{
    padding: 15px;
    display: grid;
    justify-content: center;
}
.button-design{
    width: 252px;
    height: 64px;
    display: block;
    margin-top: 15px;
    border-radius: 15px;
}
#design{
    background-color: red;
}
/*-------------------------Blogs---------------*/
.blogs-sector{
    display: grid;
    grid-template-columns: repeat(3, 0.5fr);
    gap: 10px;
}
.blogs-unit{
    width: 312px;
    height: 362px;
    margin: 0;
}
.size-image{
    width: 250px;
    height: 175px;
}
i{
    color: gray;
}
/*-------------------Footer-----------------*/
footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: blue;
    color: white;
    text-align: center;
}
nav a{
    color: white;
    text-decoration: none;
    margin-left: 10px;
}

@media only screen and (max-width:688px) {
    .root-top{       
        justify-content: center;
    }
    .blogs-sector{
        grid-template-columns: repeat(1, 1fr);
    }
    
}

/*--------------tablet-----------*/

@media only screen and (min-width:688px) and (max-width:992px) {
    .root-top{
        flex-direction: column;
    }
    .button-unit{
        display: flex; 
    }
    .button-design{
        width: 252px;
        height: 64px;}
    .mini-container{
        background: none;
    }
    .blogs-sector{
        grid-template-columns: repeat(2, 1fr);
    }
}  