body{
    font-family: 'EB Garamond', serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto Slab', serif;
}
h1{
    font-size: 50px;
}
header main{
    display: grid;
    align-items: center;
}
/*---------header design--------------*/
.root-top{
    display: flex;
    justify-content: center;
}
.root-sector{
    width: 1021px;
    height: 550px;
    background-color: blueviolet;
    border-radius: 10px;
    color: white;
    padding: 60px;width: 1021px;
    height: 550px;
    background-color: blueviolet;
    border-radius: 10px;
    color: white;
    padding: 60px;
    display: flex;
}
.root-font{
    width: 531px;
    height: 424px;
}
.root-image{
    width: 581px;
    height: 610px;
    margin-left: 5px;
}
.root-buttom{
    background-color: red;
    padding: 15px;
    color: white;
}
/*-------------------button-----------------*/
main{
    display: 100%;
}
section{
    display: grid;
    justify-content: center;
    width: 1021px;
    height: 550px;
}
.mini-container{
    width: 312px;
    height: 312px;
    background-color: blueviolet;
    margin-right: 15px;
}
.button-unit{
    padding: 15px;
    display: grid;
    justify-content: center;
}
.button-design{
    width: 252px;
    height: 64px;
    display: block;
    margin-top: 15px;
    border-radius: 15px;
}
#design{
    background-color: red;
}
/*---------------------------flag--------------*/
.Unit-count{
    display: flex;
    justify-content: center;
    margin-top: 50px;
}
.play-shedul{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}
.container{
    border: 1px solid black;
}
.items{
    margin: 10px;
}


.footer-design{
    position: fixed;
    height: 20%;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: blue;
    color: white;
    text-align: center;
}
hr{
   align-items: center; 
}
nav a{
    margin-left: 5px;
}